<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing nubd suggestion</h1>

  <%= render "form", nubd_suggestion: @nubd_suggestion %>

  <%= link_to "Show this nubd suggestion", @nubd_suggestion, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to nubd suggestions", nubd_suggestions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
